.clipboard-viewer {
  font-family: 'Inter', sans-serif;
  max-width: 92vw;
  height: 400px;
  margin: 0 auto;
  padding-top: 16px;
  background-color: var(--bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  text-align: center;
  margin-bottom: 16px;
  flex-shrink: 0;
}

.header h2 {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
  margin: 0;
}

.clipboard-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 8px;
}

.clear-button {
  background-color: var(--button-bg);
  outline: none;
  border: none;
  color: var(--button-text);
  cursor: pointer;
  font-size: 12px;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-bottom: 1rem;
  /* position: absolute;
  bottom: 16px;
  left: 16px; */
}

.clear-button svg {
  margin-right: 8px;
}

.current-clipboard {
  margin-bottom: 16px;
}

.divider {
  position: relative;
  text-align: center;
  margin: 24px 0 16px;
}

.divider::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: 1px solid var(--divider-color);
}

.divider span {
  position: relative;
  background-color: var(--bg-color);
  padding: 0 10px;
  color: var(--text-secondary);
  font-size: 12px;
}

.clipboard-list {
  margin-bottom: 16px;
}

/* Custom scrollbar styles */
.clipboard-content::-webkit-scrollbar {
  width: 6px;
}

.clipboard-content::-webkit-scrollbar-track {
  background: var(--bg-color);
}

.clipboard-content::-webkit-scrollbar-thumb {
  background-color: var(--text-secondary);
  border-radius: 3px;
}