.clipboard-viewer {
  padding: 10px;
}

.clipboard-viewer h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

@media (prefers-color-scheme: dark) {
  .clipboard-viewer h2 {
    color: white;
  }
}

.clipboard-list {
  width: 100%;
  max-width: 600px;
}